#status-wrapper {
    padding-top: 120px;
    color: white;
    /* height: 2000px; */
}

.heading {
    /* display: block; */
    text-align: center;
    letter-spacing: 2px;
}

.heading p {
    margin-top: 30px;
}

#panel {
    width: 60%;
    margin: 80px auto;
    padding: 20px;
    background-color: hsla(0, 0%, 10%, 0.3);
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
}

.upper-side {
    flex: auto;
    width: 33.3334%;
}

.values {
    margin: 4px;
    padding: 8px;

    display: flex;

    background-color: #0404043d;
    border-radius: 4px;
}

.value {
    flex: auto;
}

#panel-players {
    flex: auto;
    width: 100%;
}

#online {
    flex: auto;
    margin: 20px;
    text-align: center;
}

#players {
    display: flex;
    flex-wrap: wrap;

    margin: 20px;
    padding: 20px;
    background-color: #0404043d;
    border-radius: 4px;
}

#players p {
    flex: auto;
    width: 20%;
    text-align: center;
    /* padding: 4px; */
}

#panel-ip {
    flex: auto;
    width: 20%;
    text-align: center;
    /* display: flex; */
}

#ip {
    display: inline-block;
    color: #000000;
    background-color: black;
    border-radius: 3px;
}

#ip:hover {
    color: #717171;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}

footer {
    position: absolute;
    bottom: 0;
}
